.contact-page {
  height: 100vh;
  background-color: #BEC6FF;
  padding: 50px;
  display: flex;
  justify-content: center;

  * {
    background-color: #BEC6FF;
    color: black;
  }

  .container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .intro {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .b-text {
        font-family: 'Anton', sans-serif;
        letter-spacing: .1rem;
        font-size: 3.4rem;
        text-transform: capitalize;
      }

      p {
        font-size: 1.7rem;
        width: 60%;
        font-weight: 300;
        margin-top: 1.8rem;
      }
    }

    .form {
      flex: 3;
      width: 100%;
      display: flex;
      flex-direction: column;

      .field {
        display: flex;
        flex-direction: column;

        label {
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }

        input, textarea {
          background-color: #fff;
          border: 0;
          border-radius: 5px;
          padding: .8rem 1rem;
          outline: none;
        }
      }

      .top {
        display: flex;
        justify-content: space-between;
        flex: 2;

        .field {
          width: 45%;
        }
      }
      
      .bottom {
        flex: 4;
        
        .field {
          height: 100%;

          textarea {
            height: 80%;
            resize: none;
          }
        }
      }

      button {
        border: 0;
        background-color: #FE8FE8;
        width: 30%;
        padding: .5rem 1rem;
        color: #fff;
        font-size: 1.2rem;
        border-radius: 5px;
        align-self: flex-end;
        cursor: pointer;

        &:hover {
          transition: ease-in .5s;
          background-color: #FDD1EA;
          color: #000;
        }
      }
    }
  }
}
